.page-content > .panel > .panel-heading > .panel-actions {margin-left: -5px;}
.tr-child, .tr-child > td {padding: 0;}
.tr-child > td > table {padding: 5px; background-color: #fff; border: 2px solid #DDDDDD;}
td.wait  {color:#808080;}
td.doing {color:#d2322d;}
td.done  {color:#229f24;}
td.closed{color:#E48600;}
td.cancel{color:#888888;}
