li.active{font-weight:bold;}
#articles .card-heading a {color: #229f24!important}
.div-tags{line-height:30px;}
.input-group{margin-bottom: 18px;}
.input-group-btn a.btn{border-radius: 0 4px 4px 0;}

label.checkbox{float: left; margin-right: 10px; width: 100px;}
input[type=checkbox]{margin-top: 1px;}
