.group-item {display:block; width:140px; float:left; text-align:center;}
.app-icon {width:140px; height:60px; padding:0 40px 0 40px;}
.panel-app .panel-body {height:300px; overflow: scroll}
label i.icon-default{font-size: 18px; color: #fff; border-radius: 8px; display: inline-block; height: 60px; line-height: 60px; margin: 0 40px; text-align: center; width: 60px;}
