.table-priv caption {background-color:#f5f5f5; border:1px solid #DDD; height:40;line-height:40px; text-align:left;padding-left:8px;font-size:15px;}
.table-priv caption label{font-weight:800;}
.table-priv td {padding:8px 40px;line-height:20px;}
.table-priv th {vertical-align:middle;}
.table-priv th label{font-weight:600;}
.table-priv td label{width:170px;font-size:12px;padding:0 10px;}
#search {padding:8px 40px;line-height:20px;}
.table-priv a:hover{text-decoration: none;}
