.project-block{height:160px;}
.project-block .info{height: 65px; overflow: auto; overflow-x: hidden;}
.manager{font-weight:bold; color:#CA011B;}
.footerbar{position:absolute; bottom:25px; right:20px;}
.footerbar span{font-weight:normal; font-size:12px; margin:0 5px;}
