.table-wrapper{border: 1px solid #ddd;}
.panel-actions.pull-right {display: inline-flex; margin-right: -11px;}
#currency {padding: 0px; width: 70px; border-radius: 4px 0 0 4px;}
#unit {padding: 0px; width: 50px; border-radius: 0 4px 4px 0;}
