.small-icon{width:20px;height:20px; margin-right:5px;}
.table-form td + td{padding-left:10px;}
.checkbox-group{padding-right:20px;}
td i.icon-default{color: #fff; font-size: 10px; border-radius: 3px; display: inline-block; height: 20px; line-height: 20px; margin-right: 5px; text-align: center; width: 20px;}

.with-side .side{left: 20px; position: absolute; transition: all 0.3s ease 0s; width: 140px;}
.with-side .main{margin-left: 160px; margin-right: 0; transition: all 0.3s ease 0s;}
