.with-side .side{left: 20px; position: absolute; width: 140px;}
.with-side .side .menu.affix{top:100px; margin-left:0;}
.with-side .main{padding-left: 160px; margin-right: 0;}

.valign-middle {vertical-align: middle !important;}
.tree .active {font-weight: bold;}
.tree > li {margin-right: 0;}
