.panel-heading{padding: 12px 10px;}
.panel-heading .input-group {margin-right: -8px; margin-top: -6px; width: 300px;}
.panel-heading .input-group-addon, .panel-heading .form-control {font-size: 12px; padding: 5px 10px; line-height: 18px; height: 30px}
