#avatarForm {position: relative;}
#avatarForm .file-control {position: absolute; left: 0; top: 0; width: 80px; cursor: pointer; -moz-opacity:0; opacity: 0; filter: alpha(opacity=0);}
.page-content{padding: 58px 15px 0px 15px;}
